<script setup>
  import { ref } from 'vue'
  import { googleLogout } from 'vue3-google-login'
  import axios from 'axios'

  const is_logged_in = ref( false )
  const user = ref( null )
  const error = ref( null )

  const on_login = async ( google_response ) => {
    return axios.post( 'http://localhost:8000/login/google', {
      credential: google_response.credential
    } ).then( response => {
      console.log( 'handle userData', response.data );
      user.value = response.data;
      is_logged_in.value = true;
      error.value = null;
    } ).catch( err => {
      const message = `${err.response.status} ${err.response.statusText}`;
      console.error( message );
      error.value = message;
      googleLogout()
      user.value = null;
      is_logged_in.value = false;
    } );
  }

  const on_logout = () => {
    console.log( 'logging out', googleLogout() );
    user.value = null;
    is_logged_in.value = false;
    error.value = null;
  }
</script>

<template>
  <div class="about">
    <div v-if="is_logged_in">
      <div>
        Welcome, {{ user.name }} &lt;{{ user.email }}&gt;
      </div>
      <div>
        <img :src="user.picture"/>
      </div>
      <div>
        <button @click="on_logout">Logout</button>
      </div>
    </div>
    <div v-else>
      <GoogleLogin :callback="on_login" prompt auto-login/>
    </div>
    <div v-if="error != null">
      {{ error }}
    </div>
  </div>
</template>
